.hide {
  display: none;
}

.flexbox {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  align-items: flex-start;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(231, 231, 231);
}

.btn {
  margin: 10px 0px;
}

.output {
  background-color: rgb(231, 231, 231);
  padding: 10px;
}