.hide {
  display: none;
}

.flexbox {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  align-items: flex-start;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}